{% extends 'base.html' %}
{% block content %}

<!-- Carousel -->
<div class="container-fluid p-0 m-0 w-100" style="height: 60vh;">
  <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselHomePage" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHomePage" data-slide-to="1"></li>
      <li data-target="#carouselHomePage" data-slide-to="2"></li>
      <li data-target="#carouselHomePage" data-slide-to="3"></li>
      <li data-target="#carouselHomePage" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid p-0 m-0 w-100" style="height:80vh;background:url('https://images.unsplash.com/photo-1573288810105-cf416af9186d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center fixed; background-size: cover;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid p-0 m-0 w-100" style="height:80vh;background:url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center fixed; background-size: cover;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid p-0 m-0 w-100" style="height:80vh;background:url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80') no-repeat center fixed; background-size: cover;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid p-0 m-0 w-100" style="height:80vh;background:url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center fixed; background-size: cover;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid p-0 m-0 w-100" style="height:80vh;background:url('https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center fixed; background-size: cover;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-relative" style="top: -200px">
  <div class="container text-center text-lg-left">
    <h1 class="display-3 font-weight-bold text-light " style="text-shadow: 3px 3px #ff1010; font-size: min(max(50px, 5vw), 500px)">Find Nonprofits</h1>
  </div>
  {% include 'base_search.html' %}
</div>
<!-- Heading -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h2 class="display-4">What’s your <span class="text-warning font-weight-bold">Passion</span>?</h2>
      <p class="lead">Most people think of large foundations when they hear <span class="text-primary">philanthropy</span>, but individual donors are the lifeblood of the nonprofit sector. Donors share a passion for the mission of the organizations they support and build strong relationships with their leaders. Thus, almost two-thirds of nonprofit leaders say that they would prefer to receive more of their funding from individual donors.</p>
    </div>
  </div>
<!-- Featured orgs -->
<!-- Card deck -->
<h1 class="text-center font-weight-normal">Featured Organizations</h1>
<hr>
<div class="row d-flex flex-wrap mt-4 justify-content-center">
  {% for org in featured %}
  <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="card text-center h-100">
      <div class="view overlay">
        <img class="card-img-top" style="max-width: 250px;" src="{{org.logo_url}}" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{org.name}}</h4>
        <h5 class="card-text font-weight-normal">{{org.city}}, {{org.state}}</h5>
        <h5 class="card-text font-weight-normal">EIN: {{org.ein}}</h5>
        <p class="card-text">{{org.mission_statement}}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'org_details' org.id%}" class="btn btn-block btn-primary btn-md">Read more</a>
      </div>
    </div>
  </div>
  {% empty %}
  <h5 class="text-center">No organizations signed up :(</h5>
  {% endfor %}
</div>
<section class="mt-4 pb-4" style="background-color: rgb(228, 235, 236);">
  {% include 'base_contact.html' %}
</section>

{% endblock %}