{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{user.profile_url}}" alt="Image" class="card-img-top mx-auto" style="max-width: 400px;">
                <div class="card-body">
                    <h4 class="text-center card-title">Profile Details</h4>
                    <h5 class="card-text">Name</h5>
                    {% if user.first_name and user.last_name %}
                        <p class="card-text">{{ user.full_name }}</p>
                    {% else %}
                        <p class="card-text">No name given</p>
                    {% endif %}
                    <h5 class="card-text">Description</h5>
                    {% if user.description %}
                        <p class="card-text">{{ user.description }}</p>
                    {% else %}
                        <p class="card-text">No description given</p>
                    {% endif %}
                    <h5 class="card-text">Email</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <div class="card-body">
                        <a href="{% url 'account_update' %}" class="btn btn-secondary btn-block">Update Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center card-title">Organizations</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% for org in user.organization_set.all %}
                            <dov class="card">
                                <div class="view overlay mx-auto">
                                    <img src="{{org.logo_url}}" alt="..." class="img-thumbnail card-img-top" style="width: 25vw; max-width: 500px;">
                                </div>
                                <div class="card-body">
                                    <h4>{{org.name}}</h4>
                                    <p class="card-text">{{org.description}}</p>
                                    <a href="{% url 'org_details' org.id%}" class="btn btn-block btn-info">Read more</a>
                                </div>
                            </dov>
                            {% empty %}
                            <div class="text-center">
                                <h4>You have no organizations</h4>
                                <a href="{% url 'org_create' %}" class="btn btn-info mx-auto">Create organization</a>
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}