{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row bg-light pb-1">
            <div class="col-3 d-none d-md-block">
                <img src="{{organization.logo_url}}" alt="..." class="img-thumbnail mx-auto d-sm-block d-xs-none p-5" style="width: 200px;">
            </div>
            <div class="col-md-9 col-sm-12">
                <img src="{{organization.logo_url}}" alt="..." class="img-thumbnail mx-auto d-md-none d-sm-block" style="width: 200px;">
                <h5>{{organization.get_category_display}}</h5>
                <h1>{{organization.name}}</h1>
                <p><span class="font-weight-bold">{{organization.city}}</span>, {{organization.state}}&ThickSpace; | &ThickSpace;<a class="text-dark" href="{{organization.website_url}}">{{organization.website_url}}</a>&ThickSpace; | &ThickSpace;<a href="{% url 'org_donate_create' organization.id %}" class="btn btn-warning">Donate</a>{% if user == organization.user %}&ThickSpace; | &ThickSpace;<a href="{% url 'org_update' organization.id%}" class="btn btn-secondary">Update Organization</a> {% endif %}</p>
            </div>

        </div>
    </div>
    <div class="col-12 bg-info d-flex justify-content-start">
        <a class="btn btn-info rounded-0 font-italic" href="#mission">Mission</a>
        <a class="btn btn-info rounded-0 font-italic" href="#description">Description</a>
        <a class="btn btn-info rounded-0 font-italic" href="#details">Details</a>
        <a class="btn btn-info rounded-0 font-italic" href="#reviews">Reviews</a>
    </div>
    <div class="col-3 d-none d-md-block border-right border-danger mx-auto bg-light">
        <div class="list-group">
        {% for donation in organization.get_donations %}
            <div class="row">
                <div class="col-3 list-group-item list-group-item-action flex-column align-items-start border-right-0 border-top-0">
                    <h4 class="text-danger"><i class="fas fa-hand-holding-heart"></i></h4>
                </div>
                <div class="col-9 list-group-item list-group-item-action flex-column align-items-start border-left-0">
                    <div class="d-flex w-100 justify-content-between">
                        {% if donation.anonymous %}
                            <p class="mb-1">Anonymous</p>
                        {% else %}
                            <p class="mb-1">{{ donation.user.full_name }}</p>
                        {% endif %}
                    </div>
                    <p class="mb-1 font-weight-bold">${{donation.amount}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-8 col-md-5">
        <p class="pt-1 font-weight-normal text-center" id="mission">{{organization.name}} is {% if organization.verified %} <span class="badge badge-success">Verified</span> {% else %} <span class="badge badge-danger">Not Verified</span> {% endif %}</p>
        <h2 class="font-italic pt-2 pb-2">Mission</h2>
        <h5 class="font-weight-normal pb-2 pt-2" id="description">{{organization.mission_statement}}</h5>
        <hr>
        <h2 class="font-italic pt-2 pb-2">About Us</h2>
        <h5 class="font-weight-normal pt-2 pb-2">{{organization.description}}</h5>
        <hr>
        <h4 class="font-italic pt-2 pb-2" id="details">Gallery</h4>
        {% if user == organization.user %}
        <form action="" class="form-inline">
            {% csrf_token %}
            <input type="text" class="form-control mb-2 mr-1" placeholder="Image url...">
            <button type="submit" class="btn btn-primary mb-2">Upload</button>
        </form>
        {% endif %}
        <div class="d-flex">
            {% for image in organization.gallery_set.all %}
            <img src="image.picture_url" alt="..." class="img-thumbnail">
            {% empty %}
            <h5 class="font-weight-normal pt-2 pb-2">No gallery uploaded</h5>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 bg-light border-left border-danger">
        <div class="list-group m-0 mb-1">
            <div class="row">
                <div class="col-12 list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">EIN</p>
                    </div>
                    <p class="mb-1 font-italic">{{organization.ein}}</p>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">Contact</p>
                    </div>
                    <p class="mb-1 font-italic"><i class="fas fa-phone"></i> {{organization.phone}}</p>
                    <p class="mb-1 font-italic"><i class="fas fa-envelope"></i> <a href="mailto::{{organization.contact_email}}">{{organization.contact_email}}</a></p>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">Main Address</p>
                    </div>
                    <p class="mb-1 font-italic">{{organization.address}} {{organization.city}}, {{organization.state}} {{organization.zip_code}}</p>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">Links</p>
                    </div>
                    <p class="mb-1 font-italic"><a target="_blank" href="{{organization.website_url}}">Website</a></p>
                    {% if organization.guidestar_url %}
                    <p class="mb-1 font-italic"><a target="_blank" href="{{organization.guidestar_url}}">Guide Star</a></p>
                    {%endif%}
                </div>
                {%if organization.fiscal_sponsor%}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">Fiscal Sposor</p>
                    </div>
                    <p class="mb-1 font-italic">{{organization.fiscal_sponsor}}</p>
                </div>
                {%endif%}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 font-weight-bold">Board Members</p>
                    </div>
                    <div class="carousel slide" id="boardMember" data-ride="carousel">
                        <div class="carousel-inner">
                            {%for member in organization.boardmember_set.all %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <p class="mb-1 font-italic">{{member.member}}</p>
                                <p class="mb-1 font-italic">{{member.email}}</p>
                            </div>
                            {%endfor%}
                            <form action="">
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="reviews">
    <div class="col-12 border-top border-danger bg-light pb-3">
        <div class="container">
            <h2 class="font-italic pt-2">Reviews</h2>
            {% if user.is_authenticated %}
            {% if user.is_partial_complete %}
                <form action="{% url 'org_review_create' organization.id %}" method="POST">
                    {% csrf_token %}
                    <textarea class="w-100 p-1" placeholder="Enter your review" name="content" required></textarea>
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </form>
            {% else%}
                <h5 class="text-danger">Complete your profile to post replies</h5>
            {% endif %}
            <hr>
            {% endif %}
            {% for review in organization.review_set.all %}
            <div class="row border-bottom border-danger p-2">
                <div class="col-2 d-none d-md-block">
                    <img src="{{ review.user.profile_url }}" style="width: 100px;" alt="..." class="img-thumbnail rouded float-right">
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="border-bottom d-flex">
                        <img src="{{ review.user.profile_url }}" style="width: 50px;" alt="..." class="img-thumbnail d-md-none d-sm-block">
                        <h4 class="font-weight-normal">{{ review.user.full_name }} {% if review.user == user %}<form action="{% url 'org_review_delete' organization.id review.id %}" method="POST" class="d-inline inline-form">{% csrf_token %}<button type="submit" class="btn btn-sm btn-danger mb-1">Delete</button></form>{%endif%}</h4>
                    </div>
                    <p>{{review.content}}</p>
                </div>
            </div>
            {% empty %}
            <h5 class="p-2 border text-center">There are no reviews for <span class="font-italic">{{organization.name}}</span></h5>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}