<div class="container">
    <form action="/organizations/" novalidate="novalidate">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                        <input type="text" name="q" class="form-control" placeholder="Enter Name or EID">
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-12 p-0">
                        <input name="l" type="text" class="form-control" placeholder="Enter Location">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select name="c" class="form-control" id="exampleFormControlSelect1">
                            <option value="" selected>Categories</option>
                            <option value="AG">Aging</option>
                            <option value="AF">Agriculture and Food</option>
                            <option value="AC">Arts and Culture</option>
                            <option value="AS">Athletics and Sports</option>
                            <option value="CY">Children and Youth</option>
                            <option value="CS">Civil Society</option>
                            <option value="CE">Community and Economic Development</option>
                            <option value="CT">Computers and Technology</option>
                            <option value="CP">Consumer Protection</option>
                            <option value="CR">Crime and Safety</option>
                            <option value="DI">Disabilities</option>
                            <option value="DO">Domestic Violence Prevention</option>
                            <option value="EL">Education and Literacy</option>
                            <option value="EM">Employment and Labor</option>
                            <option value="EE">Energy and Environment</option>
                            <option value="LI">LGBTQI</option>
                            <option value="GR">Government Reform</option>
                            <option value="HW">Health and Wellness</option>
                            <option value="HO">Housing and Homelessness</option>
                            <option value="HR">Human Rights and Civil Liberties</option>
                            <option value="HU">Hunger</option>
                            <option value="IM">Immigration</option>
                            <option value="JM">Journalism and Media</option>
                            <option value="MB">Men and Boys</option>
                            <option value="NP">Nonprofits and Philanthropy</option>
                            <option value="PF">Parenting and Families</option>
                            <option value="PO">Poverty</option>
                            <option value="PJ">Prison and Judicial Reform</option>
                            <option value="RE">Race and Ethnicity</option>
                            <option value="RI">Religion</option>
                            <option value="SC">Science</option>
                            <option value="SA">Substance Abuse and Recovery</option>
                            <option value="TR">Transportation</option>
                            <option value="WE">Welfare and Public Assistance</option>
                            <option value="WG">Woman and Girls</option>
                        </select>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-12 p-0">
                        <button type="submit" class="btn btn-block btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>