* {
    margin: 0px;
    padding: 0px;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.mb-4 {
    margin: 5px;
    padding: 20px;
    font-size: 18px;
}