* {
    margin: 0px;
    padding: 0px;
}

.centered {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mb-4 {
    margin: 5px;
    padding: 20px;
    font-size: 18px;
}